*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
   background: linear-gradient(135deg, #0e8aa9, #bd39ff);
    color: #fff;
    padding-top: 4%;
    padding-left: 10%;

}
.container h1 {
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
}
.container h1 img{
    width: 60px;
    margin-right: 5px;
}
.container button img {
    width: 30px;
    margin-right:  8px;
    

}
.container button {
    display: flex;
    align-items: center;
   background: linear-gradient(148deg, #f8b202, #f2d76b);
   color: #fff;
   font-size: 16px;
   font-weight: 600;
   padding:10px 25px;
   
   outline: none;
   border: none;
   border-radius: 40px;
   margin: 30px 0 20px;
   cursor: pointer;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
   
}


.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background-color: #fff;
    color: #333;
    padding: 20px;
    margin: 20px ;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s ease;
}
.input-box:hover{
    transform: translateX(8px);
}
.input-box p {
    outline: none;
    border: none;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    
}
.input-box img{
     width: 28px;
     position: absolute;
     bottom: 15px;
     right: 15px;
     cursor: pointer;
}

@media (max-width: 600px) {
    .container {
        
        padding-left: 6%;
        padding-top: 8%;
    }

    .container h1 {
        font-size: 28px;
    }

    .container button {
        padding: 8px 20px;
        font-size: 14px;
    }

    .input-box {
        max-width: 80%;
        min-height: 100px;
        margin: 15px 0;
        padding-left: 10px;
        padding-top: 10px;
    }

    .input-box p {
        min-height: 100px;
        font-size: 14px;
    }

    .input-box img {
        width: 24px;
        bottom: 10px;
        right: 10px;
    }
}